<html>
    <head>
        {% include 'navbar.html' %}
    </head>
    <body>
        <p>Enter the donor's username to begin registering a donation: </p>
        <form action="/accept_donation" method="POST">
            <input type = "text" name="donor_username" required/></br>
            <input type = "submit">
        </form>
    
        {% if data == [] %}
        <p>"{{ donor_username }}" is not a registered donor. Please check the username and try again, or register the user as a donor via <a href="{{ url_for('auth.register') }}">user registration</a>. </p>
        {% endif %}

        {% if data %}
        <p>{{ donor_username }} is a registered donor. Please fill in the donation details below:</p>

        {% block content %}
        <form action="/accept_donation" method="post">
            <input type="hidden" name="donor_username" value="{{ donor_username }}">
            <!-- TODO: max characters for item description? -->
            <label for="item_description">Item Description</label>
            <input name="item_description" id="item_description" required>

            <label for="photo">Photo</label>
            <input type="file" name="photo" id="photo" accept="image/png, image/jpeg"/>
            </br>

            <label for="color">Item Color</label>
            <input name="color" id="color" required>

            <label for="material">Item Material</label>
            <input name="material" id="material" required></br>

            <label for="mainCategory">Main Category</label>
            <input name="mainCategory" id="mainCategory" required>

            <label for="subCategory">Item Color</label>
            <input name="subCategory" id="subCategory" required>

            <!-- source https://medium.com/@muhebollah.diu/understanding-checkbox-behavior-in-html-forms-boolean-vs-string-values-8cc85d116980 -->
            <input type="hidden" name="isNew" value="FALSE">
            <input type="checkbox" name="isNew" value="TRUE"> New </br>

            <label for="number_of_pieces">Number of pieces:</label>
            <select name="number_of_pieces">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>

            <input type="submit" value="Next">
        </form>
        {% endblock %}
        {% endif %}

        {% if num_pieces %}
        <form method="post">
            {% for i in range(1, num_pieces + 1) %}
            <p> Piece {{ i }} of {{ num_pieces }}</p>
            {% endfor %}
        
        </form>
        {% endif %}
        </form>
    </body>
</html>

