{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required></br>

    <label for="role">Role</label>
    <select name="role" required>
      <option value="1">Staff</option>
      <option value="2">Volunteer</option>
      <option value="3">Donor</option>
      <option value="4">Administrator</option>
    </select></br>

    <label for="first_name">First Name</label>
    <input name="first_name" id="first_name" required>

    <label for="last_name">Last Name</label>
    <input name="last_name" id="last_name" required></br>

    <label for="email">Email Address</label>
    <input name="email" id="email" required></br>

    <input type="submit" value="Register">
  </form>
{% endblock %}