<html>
    <head>
        {% include 'navbar.html' %}
        <style type="text/css">
            table, th, td{
                border: 1px solid black;
            }

        </style>
        <title>Locate order details</title>
    </head>
    <body>
        <h1>Locate order details</h1>
        <p>Enter an order ID to locate an order: </p>
        <form action="/find_order" method="POST">
            <input type = "text" name="order_id" required/></br>
            <input type = "submit">

        </form>

      
        {% if data %}
        <table class="table">
			<tr>
				<th>orderID</th>
				<th>itemID</th>
				<th>pieceNum</th>
				<th>pDescription</th>
				<th>roomNum</th>
				<th>shelfNum</th>
                <th>shelfDescription</th>
                <th>mainCategory</th>
                <th>subCategory</th>
			</tr>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
                <td>{{item[7]}}</td>
                <td>{{item[8]}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if data == [] %}
        <p>No orders found matching order_ID = {{ order_id }}.</p>
        {% endif %}
    </body>
</html>