<html>
    <head>
        {% include 'navbar.html' %}
        <style type="text/css">
            table, th, td{
                border: 1px solid black;
            }

        </style>
        <title>Locate an item</title>
    </head>
    <body>
        <h1>Locate an item</h1>
        <p>Enter an item ID to locate an item: </p>
        <form action="/find_item" method="POST">
            <input type = "text" name="item_id" required/></br>
            <input type = "submit">

        </form>
        <!-- link to documentation for later -->
        <!-- https://python-adv-web-apps.readthedocs.io/en/latest/flask_db2.html -->
      
        {% if data %}
        <table class="table">
			<tr>
				<th>itemID</th>
				<th>pieceNum</th>
				<th>pDescription</th>
				<th>roomNum</th>
				<th>shelfNum</th>
				<th>pNotes</th>
			</tr>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
            </tr>
            {% endfor %}
        {% endif %}
        {% if data == [] %}
        <p>No items found matching item_ID = {{ item_id }}.</p>
        {% endif %}
        </table>
        
    </body>
</html>