<html>
    <head>
        {% include 'navbar.html' %}
        <style type="text/css">
            table, th, td{
                border: 1px solid black;
            }

        </style>
    </head>
    <body>
        <h1>Your tasks</h1>
        <p>Hi {{ current_user.username }}, here are your tasks: </p>
    
        {% if staff_data %}
        <h2>Staff Tasks</h2>
        <table class="table">
			<tr>
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
			</tr>
            <tbody>
                {% for row in staff_data %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        {% endif %}

        {% if volunteer_data %}
        <h2>Volunteer Tasks</h2>
        <table class="table">
			<tr>
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
			</tr>
            <tbody>
                {% for row in volunteer_data %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        {% endif %}

        {% if client_data %}
        <h2>Client Tasks</h2>
        <table class="table">
			<tr>
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
			</tr>
            <tbody>
                {% for row in client_data %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        {% endif %}
    
        </table>
        
    </body>
</html>